.body{
  font-family: 'Fira Sans', sans-serif;
}

.navbar {
    margin-bottom: 0;
    background-color: #437D2F;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #437D2F !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.jumbotron {
    background-color: #437D2F;
    color: #fff;
    padding: 100px 25px;
}

.container-fluid {
  padding: 60px 60px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.bg-1{
  padding-bottom: 80px;
}

.bg-1 h2{
  font-size: 25px;
  margin-bottom: 20px;
}

.bg-1 h4{
  padding-top: -10px;
  line-height: 1cm;
}


.bg-1 i{
  color: #437D2F;
  font-size: 200px;
  padding-left: 60px;
}

.bg-2{
  background-color: #619A4C;
  padding-top: 50px;
  padding-bottom: 70px;
  color: #F1F7EF;
}

.bg-2 h2{
  margin-top: 50px;
  margin-bottom: 10px;
  color: #F1F7EF;
  font-size: 40px;
}

.bg-2 h4{
  color: #F1F7EF;
  font-size: 20px;
}

.bg-2 p{
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 20px;
}

.bg-2 img{
  margin-left: auto;
  margin-right: auto;
}

.bg-2 .btn{
  background-color: #fff;
  color: #619A4C;
}

.bg-3{
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-3 h2{
  padding-top: 10px;
}

.bg-3 i{
  color: #437D2F;
  font-size: 50px;
}

.bg-4{
  padding-bottom: 50px;
}

.bg-4 h2{
  font-size: 30px;
  margin-bottom: 5px;
}

.bg-4 h4{
  font-size: 20px;
}

.thumbnail{
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail img{
  width: 100%;
  height: 100%;
  margin-bottom: 50px;

}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    margin-top: 100px;
    color: #f4511e;
}

.carousel-indicators li {
    border-color: #437D2F;
}

.carousel-indicators li.active {
    background-color: #437D2F;
}

.bg-5{
  background-color: #f1f1f1;
}

.bg-5 h2{
  padding-left: 30px;
  padding-bottom:40px;
}

.bg-5 .col-sm-5{
  font-size: 15px;
  padding-left: 50px;
}

.bg-5 .col-sm-7{
  padding-right:50px;
}

iframe {
    width: 100%;
    height: 400px;
}

.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}


footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #167718;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
